%h1#title-home.text-info Welcome to Home Page 'Issues tracking'

#home-main-links
  = link_to 'Customer', :customers, class: 'btn btn-info btn-lg btn-block'
  = link_to 'User', :users, class: 'btn btn-info btn-lg btn-block'
  = link_to 'All Tickets', :tickets, class: 'btn btn-info btn-lg btn-block'
