@import "bootstrap";
body{
  background: #EFF5FB;
  #title-home{
    text-align: center;
    background-color: #428bca;
    color: #555;
    padding: 5px;
  } 
  #home-main-links{
    width: 510px;
    margin: 0 auto;
    background: #EFF5FB;
    a{
      
    }
  } 
}
